<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css?version=3.2" />
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <title>Turtlehead</title>
</head>
<body>
    <header>
        <h1 align="center">eeeh eheheh he ehhh</h1>
    </header>
    <div class="main">
        <img src="{{url_for('static', filename=imgsrc)}}">
        <input type="file" name="Render Turtles" autocomplete="off" required>
    </div>
</body>
</html>