h1 {
    color: #ffffff;
}

div.main {
    margin: auto auto;
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    background-color:#81c784


}